{% extends "layout.jinja2" %}
{% block body %}

{% if entries %}
<h2><font color="#ff0000"><i>List of Journal Entries</i></font></h2>
<ul>
  {% for entry in entries %}
    <li>
    <a href="{{ request.route_url('detail', id=entry.id) }}">{{ entry.title }}</a>
    </li>
  {% endfor %}
</ul>
{% else %}
<p>This journal is empty</p>
{% endif %}

<hr/>
<p><i>To add a new entry, click: </i><a href="{{ request.route_url('action', action='create') }}">New Entry</a></p>
{% endblock %}